/*.loader {
  width: 70px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
  margin-left: 47%;
  margin-top: 20%;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #f03355 #0000;
  animation: inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 { 
  100%{transform: rotate(1turn)}
}*/

/*here goes the decoration*/

body{
    background-color: #23093d;
    height: 100%;
}

#main-container{
    width: 360px;
    height: 640px;
    border: 1px solid #000;
    background: linear-gradient(180deg, #A24EF6 0%, rgba(151, 73, 230, 0.93) 9.38%, rgba(15, 9, 21, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    display: flex;
}

#box{
    width: 363px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 25px 25px 0px 0px;
    background-image: url(BG 2.png);
    margin-top: 2px;
    padding-bottom: 20px;
    padding-right: 5px;
    display: inline-block;
}

#circle{
    width: 147px;
    height: 147px;
    flex-shrink: 0;
    border-radius: 147px;
    background: url(https://github.com/aaraafaalam777/My_Info/blob/0e79a923f86fc411024a66aba2f26dbce74fc67f/Ellipse%201.svg), rgb(80, 24, 132) 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    margin-left: 106px;
    margin-right: 107px;
    display: inline-block;
}

p{
 display: inline-block;
 padding-left: 120px;
 margin-top: 40px;
 font-family: 'Pacifico', cursive;
 font-size: 50px;
 text-align: center;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#username{
    width: 291px;
    flex-shrink: 0;
    height: 41px;
    background: #cebee6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 7px;
    margin-left: 30px;
    margin-bottom: 25px;
}

#password{
    width: 291px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #cebee6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    height: 41px;
    margin-left: 30px;
}

.button {
    position: relative;
    border-radius: 25px;
    background: #B067F9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 23px;
    color: #FFFFFF;
    padding: 10px;
    width: 130px;
    height: 49px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 115px;
  }
  
  .button:after {
    content: "";
    background: #c9b1e2;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
