body{
    width: 360px;
    height: 100%;
    flex-shrink: 0;
    background: url("React_Light.svg"), lightgray 50% / cover no-repeat;
    margin: 0;
}

#preview{
    width: 400px;
    height: 400px;
    margin-top: 150px;
    margin-left: 285px;
}

button{
    width: 300px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #EDE75F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 150px;
    margin-left: 330px;
    text-align: center;
    color: #0D0C0C;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 50px;
}


#upload {
    position: relative;
    display: inline-block;
    background-color: #4CAF50;
    border: 2px solid black;
    color: white;
    padding: 10px 5px;
    border-radius: 10px;
    margin-left: 320px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
  }

  #Name,#Father,#Mother,#POB{
    width: 600px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 170px;
    margin-top: 100px;
    font-size: 30px;
  }
  
